H1 {color: darkmagenta; font-size: 3em ; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; align-items: center;}
H2 {color: darkmagenta;font-size: 2em;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
p {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 1em;}
ul {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
ol {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}